.headerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
   /* overflow: hidden; */
}

.singleItemHeader {
  display: inline-block;
  /* float: left; */
}

li {
  display: inline-block
}

li a {
  display: inline-block;
  text-align: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #5ca7db;
}

