
/* header */

/* for making pushing links in header move the part of page you want */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans' cursive;
} 

.singleItemHeader {
  display: inline-block;
}

li {
  display: inline-block;
  
}

li a {
  display: inline-block;
  text-align: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.headerRocket {
  width: 100%;
  height: 350px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  background: #F0F8FF;
  z-index:5;
  overflow:auto;
}

.cloudsPicture img {
  width: 100%;
  position: absolute;
  margin-left: 12%;
  margin-top: 18%;
  width: 150px;
  height: 50px;
  float: right;
}

.starsPicture img {
  width: 100%;
  position: absolute;
  margin-left: 10%;
  margin-top: 0.00001%;
  width: 200px;
  height: 100px;
  float: right;
}

 .rocketPicture img{
  width: 100%;
  position: absolute;
  margin-left: 10%;
  margin-top: 2%;
  width: 150px;
  height: 350px;
  float: right;

  animation: slidein 3s ease-in-out alternate infinite;
}
@keyframes slidein {
  0%{
  margin-left: 5%;
  width: 150px;
  height: 350px;
}
50%{
  width: 150px;
  height: 350px;
}
100% {
  margin-left: 20%;
  width: 150px;
  height: 350px;
}
}
.button {
  padding: 2%;
  border-radius: 20px;
  background-color: #1a1aff;
  color: #F0F8FF;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;  
}

.headerContent {
  position: absolute;
  margin-left: 25%;
}

#emptySpace{
  height: 200px;
}

/* ********** */
/* what we do */
/* *********** */

#whatWeDo{
  z-index:5;
  overflow:auto;
}

/* for adding backgroun image */
.whatWeDoBackground{
  background-image: url('./images/rocket1.png')
}


/* Just for text */
.whatWoDoCenter{
  text-align: center;
}

/* For blob */
.blob img{
  width: 7rem;
  height: 7rem;
  display: block;
}

.blob {
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

/* for location of Awsome Icons */
.blob .faIcon{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.blob .faSearch {
  left: 17%;
}
.blob .faColumns {
  left: 39%;
}
.blob .faShareAlt {
  left: 61%;
}
.blob .faTasks {
  left: 83%;
}

/* for the color or blobs */
.searchBlob {
  filter: invert(48%) sepia(79%) saturate(8000%) hue-rotate(345deg) brightness(350%) contrast(119%);
}

.columnsBlob {
  filter: invert(48%) sepia(79%) saturate(9000%) hue-rotate(240deg) brightness(250%) contrast(119%);
}

.shareBlob {
  filter: invert(48%) sepia(79%) saturate(6000%) hue-rotate(120deg) brightness(550%) contrast(119%);
}

.tasksBlob{
  filter: invert(48%) sepia(79%) saturate(8000%) hue-rotate(220deg) brightness(220%) contrast(119%);
}

.underBlob {
  text-align: center;
}
.underBlob text{
  margin-right: 20px;
}
/* ************** */
/* WHY CHOOSE US */
/* ************** */

.concept8{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.concept8 div{
  padding-left: 20px;
}

/* ************** */
/* OUR PROCESS */
/* ************** */

.blob2 img {
  width: 7rem;
  height: 7rem; 
}

.blob2{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows:auto auto auto;
}

.blob2text {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.concept1 img{
  float: right;
  width: 70%;
}

.ourProcess {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  position: relative;
}

.faIcon2{
  position: absolute;
  left: 45%;
  top: 45%
}

.shareHeart {
  filter: invert(48%) sepia(79%) saturate(5000%) hue-rotate(20deg) brightness(350%) contrast(119%);
}

/* ************** */
/* OUR PERSONALIZED SOLUTIONS */
/* ************** */


/* ************** */
/* CUSTOMER STORIES */
/* ************** */

.carosel{
  width: 100%;
  text-align: center;
}

/* #fillInBlob{
  background-image: url('./images/customer1.jpg');
  background-size: cover;
  border-radius:50% 50% 50% 50%;
} */

/* .user{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */

/* .one {
  background-image: url('./images/customer1.jpg');
} */


.makeInlineDive {
  display: inline-block;
}