
.headerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
   /* overflow: hidden; */
}

.singleItemHeader {
  display: inline-block;
  /* float: left; */
}

li {
  display: inline-block
}

li a {
  display: inline-block;
  text-align: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #F0F8FF;
  /* background-image: url("./images/rocket1.png"); */
}

 .rocketPicture img{
  position: absolute;
  margin-left: 40%;
  margin-top: 2%;
  width: 150px;
  height: 350px;
  float: right;
}

.cloudsPicture img {
  position: absolute;
  margin-left: 40%;
  margin-top: 20%;
  width: 150px;
  height: 50px;
  float: right;
}

.starsPicture img {
  position: absolute;
  margin-left: 38%;
  margin-top: 0.00001%;
  width: 200px;
  height: 100px;
  float: right;
}

.button {
  padding: 2%;
  border-radius: 20px;
  background-color: #1a1aff;
  color: #F0F8FF;
}