 @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); 

body {
  font-family: 'Open Sans'  ;
} 

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#myHeader {
  position: sticky;
  top: 0;
  text-align: center;
  z-index:100;
  background:#F0F8FF;
}

#headerList {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  background:#F0F8FF;
  padding-bottom: 1em;
}

#page-nav{
  width: 100%;
  background: #F0F8FF;
}

#page-nav label, #hamburger{
  display: none;
}

#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 768px){
    #page-nav label {
      display: inline-block;
      color:  #F0F8FF;
      background-color: blue;
      font-size: 1.2em;
      padding: 10px;
    }

    #page-nav ul li {
      display: block;
    }

    #page-nav ul {
      display: none;
    }

    #page-nav input:checked ~ ul {
      display: block
      ;
    }

}
